{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'historial.css' %}">
</head>

<body>
    <section id="sistema">
        <h1>
            Lavandería Hospital San José De Melipilla
        </h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Encargado</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Tipo transacción</th>
                    <th>Cantidad</th>
                    <th>Destino</th>
                    <th>Prestado a</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>14:41</td>
                    <td>Ingreso</td>
                    <td>27</td>
                    <td>Hospital</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>11:47</td>
                    <td>Egreso</td>
                    <td>2</td>
                    <td>Personal</td>
                    <td>Dr. Jaime Velasquez</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>12:28</td>
                    <td>Egreso</td>
                    <td>27</td>
                    <td>Hospital</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>15:00</td>
                    <td>Egreso</td>
                    <td>2</td>
                    <td>Personal</td>
                    <td>Dr. Claudio Palacios</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>14:41</td>
                    <td>Egreso</td>
                    <td>1</td>
                    <td>Personal</td>
                    <td>Dr. Norman Osborn</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>22:56</td>
                    <td>Egreso</td>
                    <td>3</td>
                    <td>Personal</td>
                    <td>Dr. Octabius</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>14:41</td>
                    <td>Ingreso</td>
                    <td>27</td>
                    <td>Hospital</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>11:47</td>
                    <td>Egreso</td>
                    <td>2</td>
                    <td>Personal</td>
                    <td>Dr. Jaime Velasquez</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>12:28</td>
                    <td>Egreso</td>
                    <td>1</td>
                    <td>Paciente</td>
                    <td>Harry Osborn</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>15:00</td>
                    <td>Egreso</td>
                    <td>2</td>
                    <td>Personal</td>
                    <td>Dr. Claudio Palacios</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>14:41</td>
                    <td>Egreso</td>
                    <td>1</td>
                    <td>Personal</td>
                    <td>Dr. Norman Osborn</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>Francisco</td>
                    <td>21-11-2023</td>
                    <td>22:56</td>
                    <td>Egreso</td>
                    <td>3</td>
                    <td>Personal</td>
                    <td>Dr. Octabius</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>